.navbar .nav-link {
    display: flex;
    align-items: center;
    gap: .4rem;
    position: relative;
    transition: color .05s ease-in-out;
}

.navbar .nav-link.active {
    color: var(--yellow-400);
}

.navbar .nav-link:hover:not(.nav-link.active) {
    color: var(--yellow-100);
}

.navbar .nav-text {
    font-size: 1.1rem;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    text-transform: capitalize;
    padding-left: 2.725rem;
    letter-spacing: .05rem;
}

.navbar .nav-link.active .nav-text {
    text-shadow: 0 0 8px var(--yellow-700);
}

.navbar .nav-link.active .nav-icon {
    filter: drop-shadow(0 0 0.225rem var(--yellow-700));
}

.navbar:hover .nav-text {
    animation: fade-out .7s ease-out;
    opacity: 1;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes maximize {
    from {
        padding-right: 1.2rem;
    }

    to {
        padding-right: 9.125rem;
    }
}