.summary .summary-content ul {
    height: fit-content;
    /* position: absolute; */
    width: 100%;
    background: rgba(0, 0, 0, 0.175);
    padding: 1.425rem 1.225rem;
    display: flex;
    flex-direction: column;
    gap: 1.225rem;

    border-bottom-left-radius: .825rem;
    border-bottom-right-radius: .825rem;
}

section.technologies .summary .summary-content ul {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.425rem 2.225rem;
    /* padding: 4rem; */
    /* gap: 4.025rem; */
}

.summary .summary-content ul.active li {
    animation: disappear 0.4s linear;
}

.summary .summary-content ul.hidden {
    visibility: hidden;
    max-height: 0;
    max-width: 0;
    padding: 0;
    margin: 0;
    display: none;
}