@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype"),
    url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype"),
    url("../fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../fonts/BaiJamjuree-Regular.ttf") format("truetype"),
  url("../fonts/BaiJamjuree-Medium.ttf") format("truetype"),
  url("../fonts/BaiJamjuree-SemiBold.ttf") format("truetype"),
  url("../fonts/BaiJamjuree-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  /* font-family: "SF Pro Display"; */
  font-family: "Bai Jamjuree";
}

:root {
  --bg-primary: #101c30;
  --bg-secondary: #fff;
  --color-primary: #fff;
  --color-secondary: #101c30;

  --yellow-700: rgb(163, 154, 55);
  --yellow-400: rgb(248, 233, 71);
  --yellow-100: rgb(242, 234, 144);
}

body {
  background-color: var(--bg-primary);
  background: radial-gradient(#152d65, var(--bg-primary));
}

body::-webkit-scrollbar {
  width: .825rem;
}

body::-webkit-scrollbar-track {
  background: #112140;
}

body::-webkit-scrollbar-thumb {
  background-color: #396bd0;
  border-radius: 20px;
  border: .225rem solid #112140;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  animation: fade-in 1s ease-in-out;
  position: relative;
}

a {
  color: var(--color-primary);
}

.app > header,
.app > main,
.app > section,
.app > footer {
  padding: 0.5rem 8.725rem;
}

@media screen and (max-width: 712px) {
  html {
    font-size: 82.725%;
  }

  .app > header,
  .app > main,
  .app > section,
  .app > footer {
    padding: 0.5rem 2.75rem;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 75.725%;
  }


  .app > header,
  .app > main,
  .app > section,
  .app > footer {
    padding: 0.5rem 1.925rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 70.225%;
  }
}

.app > section.active {
  position: absolute;
  margin-top: 4rem;
  inset: 0;
  animation: fade-in 0.4s ease-in-out;
}

.app > section.hidden {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  padding: 0;
  margin: 0;
  display: none;
}

@keyframes fade-in {
  from {
    transform: translate(-1rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    transform: translate(-.225rem);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
