/* <--------------------------- ::HERO:: SECTION ---------------------------> */section.home {
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    padding: 0;

    @media screen and (min-width: 1024px) {
        padding: 1.625rem;
    }
}

section.home .home-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    height: 100%;
    @media screen and (min-width: 1024px) {
        background-image: url("../../assets/laptopBg.png");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

section.home .home-inner .article {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-bottom: 5rem;
    max-width: 50rem;
    padding: 3.225rem 2.575rem;
    border-radius: 2rem;
    border-right: .725rem solid var(--yellow-400);
    border-top-right-radius: 14.225rem;
    box-shadow: 0 0 2rem rgba(0, 13, 31, .25);
    margin-bottom: 3.225rem;

    background: linear-gradient(
        to left, rgba(32, 66, 146, 0.725), transparent
    );


    @media screen and (max-width: 992px) {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 44rem;
        padding-right: 1.425rem;
        padding-right: 2rem;
        padding-left: 2rem;
        border: none;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }

    @media screen and (min-width: 1024px) {
        background: none;
        box-shadow: none;
        align-items: center;
        border: none;
        max-width: 33.225rem;
        margin-bottom: 12.225rem;
    }
}

section.home .home-inner .title, .home-inner .text {
    text-align: start;
}

section.home .home-inner .greeting {
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 0.875rem;
    font-family: "SF Pro Display";
    margin-bottom: -0.875rem;
    padding-left: .15rem;
}

section.home .home-inner .title {
    font-size: 4.5rem;
    letter-spacing: .1rem;

    @media screen and (min-width: 1024px) {
        font-size: 3.825rem;
    }

    @media screen and (max-width: 462px) {
        font-size: 2.875rem;
    }

    @media screen and (max-width: 335px) {
        font-size: 2.525rem;
    }
}

section.home .home-inner .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 .65rem var(--yellow-700);
}

section.home .home-inner .text {
    font-size: 1.05rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    margin-top: .2rem;
    text-shadow: 0 0 2rem #ffffff3f;
    opacity: .9;
    font-family: "SF Pro Display";
    padding-left: .15rem;

    @media screen and (min-width: 1024px) {
        text-align: center;
    }
}

section.home .home-inner .text span {
    font-family: "SF Pro Display";
    color: var(--yellow-400);
    text-shadow: 0 0 .65rem var(--yellow-700);
    font-weight: bold;

}

section.home .home-inner .btn {
    font-size: .825rem;
    margin-top: 2rem;
    padding: .625rem 1.825rem;
    background-color: var(--yellow-400);
    color: var(--color-secondary);
    border: 2px solid #ffffff0e;
    font-weight: bold;
    letter-spacing: .15rem;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 .8rem var(--yellow-700);
    transition: all .3s ease-in-out;

    display: flex;
    align-items: center;
    gap: .6rem;
    line-height: 20px;
}

section.home .home-inner .btn:hover {
    background-color: #162f6a;
    box-shadow: 0 0 .8rem #2d61bc83;
    color: #fff;
    transform: translate(3px) scale(1.01) rotate(1deg);
}

section.home.hidden .btn {
    transition: none;
}

/* <-------------------------- ::ABOUT:: SECTION --------------------------> */
section.about .about-inner {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 4.225rem;
    padding-bottom: 7.425rem;

    @media screen and (max-width: 1024px) {
        align-items: unset;
        justify-content: unset;
        height: unset;
        gap: 3.625rem;
    }

    @media screen and (max-width: 375px) {
        gap: 3.025rem;
    }
}

section.about .info {
    margin-top: 2.625rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 3.225rem;
    max-width: 1064px;
    max-width: 66.225rem;
    /* justify-content: space-between; */

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: unset;
    }
}

section.about .info .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.225rem;
    flex: 1;
    width: 100%;
}

section.about .info figure {
    width: 100%;
    height: 100%;
    min-width: 25.625rem;
    min-height: 25.625rem;
    max-width: 25.625rem;
    max-height: 25.625rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /* background: linear-gradient(
        to left, rgba(32, 66, 146, 0.725), transparent
    ); */
    background: rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 2rem rgba(0, 13, 31, .25);
    transition: all .1s ease-in-out;

    @media screen and (max-width: 1210px) {
        min-width: 22.225rem;
        min-height: 22.225rem;
        max-height: 22.225rem;
        max-width: 22.225rem;
    }

    @media screen and (max-width: 1024px) {
        min-height: 21rem;
        min-width: 21rem;
        margin-top: 1.225rem;
        border-radius: 50%;
    }

    @media screen and (max-width: 375px) {
        min-height: 20.625rem;
        min-width: 20.625rem;
        max-height: 20.625rem;
        max-width: 20.625rem;
    }

    @media screen and (max-width: 320px) {
        min-height: 18.225rem;
        min-width: 18.225rem;
        max-height: 18.225rem;
        max-width: 18.225rem;
    }

    @media screen and (max-width: 280px) {
        min-height: 16rem;
        min-width: 16rem;
        max-height: 16rem;
        max-width: 16rem;
    }
}

section.about .info figure:hover {
    transform: scale(1.045);
}

section.about .info figure .illustration {
    /* filter: hue-rotate(-3deg); */
    position: absolute;
    width: 100%;
    top: -6rem;
    pointer-events: none;
    object-fit: cover;
    /* transform: rotate(-12.625deg) translateX(.725rem); */
}

section.about .info .info-wrapper .social-media-container {
    display: flex;
    flex-direction: column;
    gap: 1.025rem;
    /* margin-top: .575rem; */
    width: 100%;

    @media screen and (max-width: 712px) {
        margin-top: 1.225rem;
    }
}

section.about .info .info-wrapper .social-media-container .subtitle {
    font-size: .8225rem;
    letter-spacing: .1225rem;
    text-transform: uppercase;
    font-family: "SF Pro Display";
}

section.about .info .info-wrapper .social-media-list {
    display: flex;
    gap: 1.025rem;
    width: 100%;

    @media screen and (max-width: 1024px) {
        gap: .375rem;
    }

    @media screen and (max-width: 475px) {
        flex-wrap: wrap;
    }
}

section.about .info .info-wrapper .social-media-list .social-media {
    flex: 1;

    @media screen and (max-width: 475px) {
        flex: none;
        flex-basis: 8.625rem;
    }

    @media screen and (max-width: 396px) {
        flex-basis: 7.425rem;
    }

    @media screen and (max-width: 350px) {
        flex-basis: 6.825rem;
    }

    @media screen and (max-width: 325px) {
        flex-basis: 6.025rem;
    }

    @media screen and (max-width: 300px) {
        flex-basis: 5.425rem;
    }
}

section.about .info .info-wrapper .social-media-list .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.425rem;
    transition: all .1s ease-in-out;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.175), transparent); */
    background: rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 2rem rgba(0, 13, 31, .25);
    padding: .625rem;
    border-radius: .425rem;

    @media screen and (max-width: 340px) {
        padding: .425rem;
    }
}

section.about .info .info-wrapper .social-media-list .link:hover {
    transform: scale(1.105);
    cursor: pointer;
    background: var(--yellow-400);
    box-shadow: 0 0 .8rem var(--yellow-700);
}

section.about .info .info-wrapper .social-media-list .link .icon {
    font-size: 1.925rem;
    filter: drop-shadow(0 0 0.225rem rgba(255, 255, 255, 0.525));
    color: var(--yellow-400);
    filter: drop-shadow(0 0 0.225rem var(--yellow-700));
}

section.about .info .info-wrapper .social-media-list .link .label {
    font-size: .675rem;
    text-transform: uppercase;
    font-family: "SF Pro Display";
    letter-spacing: .1rem;
    font-weight: bold;
    /* text-shadow: 0 0 0.225rem rgba(255, 255, 255, 0.825); */
    /* opacity: .85; */
}

section.about .info .info-wrapper .social-media-list .link:hover .icon,
section.about .info .info-wrapper .social-media-list .link:hover .label{
    color: var(--yellow-400);
    filter: drop-shadow(0 0 0.225rem var(--yellow-700));

    color: #162f6a;
    filter: none;
}

section.about .article {
    display: flex;
    padding-left: .425rem;
    flex-direction: column;
    gap: 1.225rem;
    height: 100%;
    max-width: 66.225rem;
    position: relative;

    @media screen and (max-width: 1210px) {
        max-height: unset;
    }

}

section.about .article .title {
    color: var(--yellow-400);
    font-size: 2.225rem;
    letter-spacing: .1rem;

    @media screen and (max-width: 712px) {
        font-size: 2.025rem;
    }
}

section.about .article .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

section.about .article .text {
    font-size: 1.05rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    margin-top: .2rem;
    text-shadow: 0 0 2rem #ffffff3f;
    opacity: .9;
    font-family: "SF Pro Display";
}

section.about .roles {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1064px;
    max-width: 66.225rem;
    gap: 2rem;

    @media screen and (max-width: 920px) {
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (max-width: 712px) {
        max-width: 42.225rem;
        margin: 0 auto;
    }
}

section.about .roles .role {
    padding: .825rem 1.225rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 2rem rgba(0, 13, 31, 0.25);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    align-items: center;
    gap: .625rem;
    flex: 1;
}

section.about .roles .role .role-text {
    display: flex;
    flex-direction: column;
}

section.about .roles .role .icon {
    font-size: 3rem;
    color: var(--yellow-400);
    filter: drop-shadow(0 0 0.225rem var(--yellow-700));
}

section.about .roles .role .role-text strong {
    font-size: 1.225rem;
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

section.about .roles .role .role-text span {
    opacity: .85;
}

/* <----------------------- ::TECHNOLOGIES:: SECTION -----------------------> */

section.technologies .technologies-inner {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 1.625rem;

    @media screen and (min-width: 1024px) {
        overflow: hidden;
    }

    @media screen and (max-width: 850px) {
        padding-bottom: 2.625rem;
    }

    @media screen and (max-width: 390px) {
        padding-bottom: 7.625rem;
    }


    /* align-items: center; */
    /* justify-content: center; */
}

section.technologies .title {
    margin-left: 13.225rem;
    margin-top: 2rem;
}

section.technologies .title span {
    /* color: var(--yellow-400); */
    /* text-shadow: 0 0 0.65rem var(--yellow-700); */
    font-size: 1.725rem;
    letter-spacing: .1rem;
}







/* <-------------------------- ::PROJECTS:: SECTION -------------------------> */
section.projects .projects-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.projects .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}



/* <----------------------- ::CERTIFICATES:: SECTION -----------------------> */
section.certificates .certificates-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.certificates .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

/* <------------------------- ::CONTACT:: SECTION -------------------------> */
section.contact .contact-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 712px) {
        justify-content: unset;
    }
}

section.contact .contact-inner > h1 {
    margin: auto 0;
    padding-bottom: 8.225rem;
    letter-spacing: .075rem;
}

section.contact h1 span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}