/* <--------------------------- ::HERO:: SECTION ---------------------------> */
section.home {
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    padding: 0;
}

section.home .home-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    height: 100%;
    /* background-position: bottom; */
    /* background-repeat: no-repeat; */
}

section.home .home-inner .avatar {
    /* width: 130px; */
    width: 9rem;
    animation: bounce 7s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translate(-6px) rotate(-4deg) scale(.98);
        opacity: 0.3;
    }

    20% {
        transform: translate(6px) rotate(4deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-6px) rotate(-4deg) scale(.98);
        opacity: 0.3;
    }
}

section.home .home-inner .article {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-bottom: 5rem;
    max-width: 44rem;


    @media screen and (max-width: 992px) {
        /* align-items: center; */
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}

section.home .home-inner .title, .home-inner .text {
    /* text-transform: capitalize; */
    text-align: start;

    @media screen and (max-width: 992px) {
        /* text-align: center; */
    }
}

section.home .home-inner .greeting {
    position: relative;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: 0.875rem;
    font-family: "SF Pro Display";
    margin-bottom: -0.875rem;
}

section.home .home-inner .title {
    font-size: 3.75rem;
    letter-spacing: .1rem;

    @media screen and (max-width: 462px) {
        font-size: 2.825rem;
    }
}

section.home .home-inner .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 .65rem var(--yellow-700);
}

section.home .home-inner .text {
    font-size: 1.05rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    margin-top: .2rem;
    text-shadow: 0 0 2rem #ffffff3f;
    opacity: .9;
    font-family: "SF Pro Display";
}

section.home .home-inner .text span {
    font-family: "SF Pro Display";
    color: var(--yellow-400);
    text-shadow: 0 0 .65rem var(--yellow-700);
    font-weight: bold;

}

section.home .home-inner .btn {
    font-size: .875rem;
    margin-top: 2rem;
    padding: .6rem 2.6rem;
    background-color: var(--yellow-400);
    color: var(--color-secondary);
    border: 2px solid #ffffff0e;
    font-weight: bold;
    letter-spacing: .15rem;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 .8rem var(--yellow-700);
    transition: all .3s ease-in-out;

    display: flex;
    align-items: center;
    gap: .6rem;
    line-height: 20px;
}

section.home .home-inner .btn:hover {
    background-color: #162f6a;
    box-shadow: 0 0 .8rem #2d61bc83;
    color: #fff;
    transform: translate(3px) scale(1.01) rotate(1deg);
}

section.home.hidden .btn {
    transition: none;
}

/* <--------------------------- ::ABOUT:: SECTION ---------------------------> */
section.about .about-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.about .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

/* <--------------------------- ::TECHNOLOGIES:: SECTION ---------------------------> */
section.technologies .technologies-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.technologies .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}







/* <--------------------------- ::PROJECTS:: SECTION ---------------------------> */
section.projects .projects-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.projects .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

/* <--------------------------- ::CERTIFICATES:: SECTION ---------------------------> */
section.certificates .certificates-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.certificates .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}

/* <--------------------------- ::CONTACT:: SECTION ---------------------------> */
section.contact .contact-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.contact .title span {
    color: var(--yellow-400);
    text-shadow: 0 0 0.65rem var(--yellow-700);
}